[server]
http_port = {{ grafana_port }}
domain = {{ ansible_host }}
root_url = http://{{ ansible_host }}:{{ grafana_port }}

[database]
type = sqlite3
path = {{ grafana_data_dir }}/grafana.db

[security]
admin_user = admin
admin_password = admin

[users]
allow_sign_up = false

[analytics]
reporting_enabled = false
check_for_updates = false

[log]
mode = file
level = info
root_path = {{ grafana_log_dir }}
