[Unit]
Description=Node Exporter
Documentation=https://prometheus.io/docs/guides/node-exporter/
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ node_exporter_binary_path }} \
    --web.listen-address=0.0.0.0:{{ node_exporter_port }} \
    --collector.textfile.directory={{ node_exporter_textfile_dir }}

SyslogIdentifier=node_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
