[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
Type=simple
User={{ prometheus_user }}
Group={{ prometheus_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ prometheus_binary_path }} \
  --config.file={{ prometheus_config_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --web.console.templates={{ prometheus_config_dir }}/consoles \
  --web.console.libraries={{ prometheus_config_dir }}/console_libraries \
  --web.listen-address=0.0.0.0:{{ prometheus_port }} \
  --web.external-url=http://{{ ansible_host }}:{{ prometheus_port }}/ \
  --storage.tsdb.retention.time={{ prometheus_retention_time }} \
  --storage.tsdb.retention.size={{ prometheus_retention_size }}

SyslogIdentifier=prometheus
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
