[Unit]
Description=Ethereum Go Client
After=network.target
Wants=network.target

[Service]
User={{ geth_user }}
Group={{ geth_group }}
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/geth \
    --datadir {{ geth_data_dir }} \
    --networkid {{ network_id }} \
    --port {{ geth_p2p_port }} \
    --http \
    --http.addr 0.0.0.0 \
    --http.port {{ geth_rpc_port }} \
    --http.api eth,net,web3,personal,admin \
    --http.corsdomain "*" \
    --ws \
    --ws.addr 0.0.0.0 \
    --ws.port 8546 \
    --ws.api eth,net,web3 \
    --nodiscover \
    --maxpeers 10 \
    --verbosity 3 \
    --log.file {{ geth_log_dir }}/geth.log

StandardOutput=journal
StandardError=journal
SyslogIdentifier=geth

[Install]
WantedBy=multi-user.target
