[
{% for node in geth_nodes %}
  "enode://{{ hostvars[groups['geth_nodes'][loop.index0]]['ansible_host'] | replace('.', '') }}@{{ node.ip }}:{{ geth_p2p_port }}"{% if not loop.last %},{% endif %}
{% endfor %}
]
